 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 /* globals.css */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

 body {
   @apply bg-gray-900 text-white; /* Tailwind styles */
   font-family: 'Poppins', sans-serif;
   
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 


