/* /* .sidepanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    width: 50px;
    border: 1px solid #ffcb73;
} */
.sidepanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 92vh;
    width: 50px; 
    border: 1px solid #ffcb73; 
    padding: 2rem;
    color: #ffcb73; 
  }

.topicon {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-left: 1500px;
} 
.icon {
    padding-top: 100px;
    padding-bottom: 10px;
}
  

   